body {
  padding: 10px;
  font-size: 2rem;

}

li {
  background-color: skyblue;
}

span {
  background-color: green;
}

form>input {
  display: block;
  font-size: 2rem;

}

form>textarea {
  display: block;
  font-size: 2rem;

}

form>p>input {
  display: block;
  font-size: 2rem;
  background-color: greenyellow;

}

.deleteInput {
  margin: 5px;
  width: 90px;
  padding: 10px;
  height: 40px;
  border-radius: 10px;
  background-color: gold;
}